{% extends 'layout.html' %}

{% block title %}
    Adicionar Tarefa
{% endblock %}

{% block content %}
    <form action="add_assignment" method="post">
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name" required>

        <label for="grade_worth">Valor:</label>
        <input type="number" name="grade_worth" id="name" required>

        <label for="name">Nome:</label>
        <input type="text" name="name" id="name" required>
        
        <button type="submit">Adicionar Tarefa</button>
    </form>
{% endblock %}