{% extends 'layout.html' %}

{% block title %}
  Bem vindo!
{% endblock %}

{% block content %}
  <main class="container my-5">
    <h1 class="text-center mb-4">Lista de Usuários</h1>

    {% if users %}
      <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle shadow-sm bg-white">
          <thead class="table-primary text-center">
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr>
                <td class="text-center">{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="alert alert-warning text-center shadow-sm">Nenhum usuário cadastrado ainda.</div>
    {% endif %}

    <h1 class="text-center mb-4">Lista de Estudantes</h1>

    {% if users %}
      <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle shadow-sm bg-white">
          <thead class="table-primary text-center">
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Data de Nascimento</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
              <tr>
                <td class="text-center">{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.born_date }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="alert alert-warning text-center shadow-sm">Nenhum estudante cadastrado ainda.</div>
    {% endif %}

    <h1 class="text-center mb-4">Lista de Classes</h1>

    {% if users %}
      <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle shadow-sm bg-white">
          <thead class="table-primary text-center">
            <tr>
              <th>ID</th>
              <th>Nome</th>
            </tr>
          </thead>
          <tbody>
            {% for classroom in classrooms %}
              <tr>
                <td class="text-center">{{ classroom.id }}</td>
                <td>{{ classroom.name }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="alert alert-warning text-center shadow-sm">Nenhum classe cadastrado ainda.</div>
    {% endif %}

    <h1 class="text-center mb-4">Lista de Atividades</h1>

    {% if users %}
      <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle shadow-sm bg-white">
          <thead class="table-primary text-center">
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Valor</th>
              <th>Data de Entrega</th>
            </tr>
          </thead>
          <tbody>
            {% for assignment in assignments %}
              <tr>
                <td class="text-center">{{ assignment.id }}</td>
                <td>{{ assignment.name }}</td>
                <td>{{ assignment.grade_worth }}</td>
                <td>{{ assignment.due_date }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <div class="alert alert-warning text-center shadow-sm">Nenhuma Atividade cadastrada ainda.</div>
    {% endif %}
  </main>
{% endblock %}
