{% extends 'layout.html' %}

{% block title %}
  Bem vindo!
{% endblock %}

{% block content %}
  <h1 class="text-center mb-4">Lista de Estudantes</h1>

  <a href="{{ url_for('teacher_bp.create_student') }}"><button>Adicionar Estudante</button></a>
  {% if students %}
    <div class="table-responsive">
      <table class="table table-hover table-bordered align-middle shadow-sm bg-white">
        <thead class="table-primary text-center">
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Editar</th>
            <th>Remover</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students %}
            <tr>
              <td class="text-center">{{ student.id }}</td>
              <td>{{ student.name }}</td>

              <td>{{ student.born_date }}</td>

              <td class="text-center">
                <a href="">
                    <i class="bi bi-pencil"></i>
                </a>
              </td>

              <td class="text-center">
                <a href="{{ url_for('teacher_bp.delete_student', student_id=student.id) }}"
                onclick="return confirm('Tem certeza que deseja remover {{ student.name }}? Esta ação não pode ser desfeita.');"
                class="fw-bold">
                    <i class="bi bi-trash"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="alert alert-warning text-center shadow-sm">Nenhum estudante cadastrado ainda.</div>
  {% endif %}
{% endblock %}
