{% extends 'layout.html' %}

{% block title %}
  Editar Tarefa
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-sm border-0">
          <div class="card-body">
            <h3 class="card-title text-center mb-4 fw-bold text-primary">Editar Tarefa</h3>
            <form action="{{ url_for('teacher_bp.update_assignment', assignment_id=assignment.id) }}" method="post">
              <div class="mb-3">
                <label for="name" class="form-label">Nome</label>
                <input value="{{ assignment.name }}" type="text" class="form-control" name="name" id="name" required />
              </div>

              <div class="mb-3">
                <label for="grade_worth" class="form-label">Valor</label>
                <input value="{{ assignment.grade_worth }}" type="number" class="form-control" name="grade_worth" id="grade_worth" required />
              </div>

              <div class="mb-3">
                <label for="due_date" class="form-label">Data de Entrega</label>
                <input value="{{ assignment_due_date }}" type="date" class="form-control" name="due_date" id="due_date" min="{{ data_range.0 }}" max="{{ data_range.1 }}" required />
              </div>

              {% for category, message in get_flashed_messages(with_categories=true) %}
                <p class="text-{{ category }} small m-0">{{ message }}</p>
              {% endfor %}

              <div class="d-flex justify-content-between">
                <a href="{{ url_for('teacher_bp.manage_assignments', classroom_id=assignment.classroom.id) }}" class="btn btn-outline-secondary">Voltar</a>
                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
